@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.links {
    animation-name: show-text;
    animation-duration: 3s;
    transition: 1s;
    animation-fill-mode: forwards;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    top: 100px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: left;  
}

.showcase header ul {
    display: flex;
    list-style: none;
}

.showcase header li{
    margin-right: 50px;
    margin-left: 30px;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
}

.showcase header li a {
    color: rgb(235, 235, 235);
    text-decoration: none;
}
.showcase header li a:hover{
    color: #22a3e9;
}

.showcase header li:hover{
    transform: scale(1.1);
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

#btn-animate {
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6;
}

#whale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22a3e9; 
    mix-blend-mode: overlay;
}

#text-container {
    z-index: 10;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    animation: open-container 2s, hide-container 6s;
    transition: 0.5s ease-in-out;
    animation-fill-mode: forwards;
    height: 0px;
}

@keyframes hide-container {
    from {

    }
    to {
        border: none;
    }
  } 

@keyframes open-container {
    0% {
        height: 0px;
    }
    100% {
        height: 300px;
    }
  }

.text {
    opacity: 1;
    position: relative;
    z-index: 10;
    animation: show-text 3.5s;
    transition: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show-text {
  0% {
      opacity: 0;
  }
  50% {
    opacity: 0;
}
  100% {
      opacity: 1;
  }
}

.text h2 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p { 
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #22a3e9;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 6px;
}

.icon-shields {
    display: flex;
    /* background: rgba(39, 106, 148, 0.2); */
    justify-content: space-around;
    padding-bottom: 10px;
}

.icon-shields img {
    height: 70px;
    width: auto;
}

.social {
    position: absolute;
    bottom: 20px;
    display: flex;
    color: #fff;
    animation-name: show-text;
    animation-duration: 3s;
    transition: 1s;
    animation-fill-mode: forwards;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
    animation-name: objects-appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .social li:nth-child(1) {
      animation-name: social-hop;
      animation-delay: 2s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
  .social li:nth-child(2) {
      animation-name: social-hop;
      animation-delay: 2.3s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
  .social li:nth-child(3) {
      animation-name: social-hop;
      animation-delay: 2.6s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
  @keyframes social-hop {
      0% {
          transform: translateY(0);
      }
      25% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(0);
      }
      75% {
          transform: translateY(-20px);
      }
      100% {
          transform: translateY(0);
      }
  }

i {
    color: rgb(160, 160, 160);
}

i:hover {
    color: #22a3e9;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover{
    transform: scale(0.7) translateY(-35px);
}

.menu {
    /* position: absolute; */
    top: 0;
    right: 0;
    /* width: 300px; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu li {
    justify-self: center;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover{
    color: #0c8cc7;
}

/* .panel:nth-child(2) {
	background: #123456;
}

.panel:nth-child(3) {
	background: #234567;
}

.panel:nth-child(4) {
	background: #345678;
}

.panel:nth-child(5) {
	background: #456789;
} */
    
    

@media(max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
        justify-content: center;
    }
    .showcase header li {
        font-size: 1.2em;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}

@media(max-width: 498px) {
    .showcase, .showcase header {
        padding: 40px;
        justify-content: center;
    }
    .showcase header li {
        font-size: 1em;
    }
    .text{
        min-width: 390px;
        text-align: center;
    }
    .text h2 {
        font-size: 2em;
    }
    .text h3 {
        font-size: 1em;
    }
    .icon-shields {
        min-width: 400px;
    }
    .icon-shields img {
        height: 40px;
        width: auto;
    }
}

